<div class="background">
  <nav class="navbar navbar-expand-lg navbar-light" opacity="0.2">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"></a>
          <a href="https://github.com/cordeiro100"
            ><i class="bi bi-github"></i
          ></a>
          <a href="https://www.instagram.com/lucasrcordeiro100/"
            ><i class="bi bi-instagram"></i
          ></a>
          <a href="https://www.linkedin.com/in/lucas-rafael-cordeiro-419715228/"
            ><i class="bi bi-linkedin"></i
          ></a>
          <i class="bi bi-telephone-fill tele"></i>
          <p class="contato">Telefone de contato:</p>
          <p class="numero-contato">(31) 99931-2870</p>
        </div>
      </div>
    </div>
  </nav>

  <div class="total">
    <aside>
      <div class="container">
        <div *ngIf="boxLogin" class="formulario">
          <form #userForm="ngForm" [formGroup]="loginForm" (ngSubmit)="logar()" >
            
            <label for="email">Digite seu email</label>
            <input type="email"id="email"name="email"placeholder="email@email.com"formControlName="email"[(ngModel)]="loginModel.email">
            
            <small *ngIf="loginForm.get('email')?.errors?.['required']" class="text-danger d-block mt-2">
              Um email é necessário!!
            </small>

            <label for="password">Digite sua senha</label>
            <input type="password"id="password"name="password"placeholder="Sua senha..."formControlName="password"[(ngModel)]="loginModel.password">
            
            <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger d-block mt-2">
              Uma senha é necessária!!
            </small>
           
            <button  id="botao-login "type="submit" [disabled]="!loginForm.valid">Logar</button>
        
          </form>
       <p id="mensagem" *ngIf="mensagem != ''">{{mensagem}}</p>

        </div>
        
        
        
        
        <div *ngIf="boxRegister" class="formulario2">
          <form [formGroup]="registerForm" (ngSubmit)="registrar()">
          <label for="nome">Digite seu primeiro nome</label>
          <input type="text" id="nome" name="nome" placeholder=" Ex: Joaquim" formControlName="nome" [(ngModel)]="nome">
          <small *ngIf="registerForm.get('nome')?.errors?.['required']" class="text-danger d-block mt-2">
              Digite seu primeiro nome
          </small>
          <label for="sobrneome">Digite seu último nome</label>
          <input type="text" id="sobrenome" name="sobrenome" placeholder="Ex: Pereira" formControlName="sobrenome" [(ngModel)]="sobrenome" >
          <small *ngIf="registerForm.get('sobrenome')?.errors?.['required']" class="text-danger d-block mt-2">
            Digite seu último nome
        </small>
          <label for="email">Digite um email válido</label>
          <input type="email" id="email" name="email" placeholder="Ex: seuemail@email.com" formControlName="email" [(ngModel)]="email" />
          <small *ngIf="registerForm.get('email')?.errors?.['required']" class="text-danger d-block mt-2">
            Digite um email válido
        </small>
          <label for="senha">Digite uma senha</label>
          <input type="password" id="senha" name="senha" placeholder="Mínimo de 6 caracteres" formControlName="password" [(ngModel)]="password"/>
          <small *ngIf="registerForm.get('nome')?.errors?.['required']" class="text-danger d-block mt-2">
            Digite uma senha
        </small>
          
          <button  [disabled]="registerForm.invalid" type="submit">Cadastrar</button>
          </form>
        </div>

        <div  *ngIf="tituloAngular">
          <h1 class="estatico">Desenvolvendo soluções</h1>
          <h1 class="dinamico">Angular</h1>
        
        </div>
        <img *ngIf="logoMobile" class="logo-aside"src="assets/logo.png">
        <div class="botoes">
          <button (click)="showLoginBox()" class="botao-login">Logar</button>
          <button (click)="showRegister()" class="botao-cadastrar">
            Cadastre-se
          </button>
        </div>
      </div>
    </aside>
    <section  class="direita">
      <img *ngIf="imagemLogo" src="assets/logo.png" />
    </section>
  </div>
  <div></div>
</div>
