<div class="background">
    <nav class="navbar navbar-expand-lg navbar-light" opacity="0.2">
      <div class="container-fluid">
        <a class="navbar-brand"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#"></a>
            <a href="https://github.com/cordeiro100"
              ><i class="bi bi-github"></i
            ></a>
            <a href="https://www.instagram.com/lucasrcordeiro100/"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.linkedin.com/in/lucas-rafael-cordeiro-419715228/"
              ><i class="bi bi-linkedin"></i
            ></a>
            <i class="bi bi-telephone-fill tele"></i>
            <p class="contato">Telefone de contato:</p>
            <p class="numero-contato">(31) 99931-2870</p>
          </div>
        </div>
      </div>
    </nav>

    <div class="main">
      <h1>Bem vindo</h1>
    </div>

    
